.button-div {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.add-to-cart-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100%;
    margin-top: 30px;
}

.popup-size-options {
    display: flex;
    gap: 6px;
    position: absolute;
    bottom: 100%;
    margin-bottom: 3px;
    opacity: 0;
    transform: translateY(10px);
    transition: transform 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
    pointer-events: none;
}



.popup-size-options.show {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.popup-size-options.hide {
    opacity: 0;
    transform: translateY(10px);
    pointer-events: none;
}

.popup-text {
    background-color: black;
    color: white;
    font-size: 12px;
    padding: 8px 17px;
    border-radius: 4px;
    white-space: nowrap;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.popup-text:hover {
    background-color: rgb(180, 180, 180);
    color: black;
}

@keyframes popupUp {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.add-to-cart-container:hover .popup-text,
.add-to-cart-container .popup-text.show {
    opacity: 1;
    transform: translateY(0);
}


.button-div-addtocart {
    padding: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    background-color: black;
    color: white;
    width: 100%;
    text-align: center;
    border-radius: 4px;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.button-div-addtocart:hover {
    transform: translateY(-2px);
    cursor: pointer;
}